.mint-blog{
  padding: 4rem 3rem;
  &__bg{
    margin: 0 1rem;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/blog.jpg") no-repeat;
    background-size: cover;
    &-heading{
      padding: 4.5rem 6.5rem;
      font-family: "TT Norms";
      font-weight: bold;
      font-size: 3rem;
      color: map_get($palette, content);
      background: map_get($palette, content-light);
      text-transform: uppercase;
      &:hover{
        color: map_get($palette, accent-main);
        text-decoration: none;
        transition: $transition;
      }
    }
  }
}