.footer{
  padding: 2rem 0 0 0;
  border-top: 1px solid map_get($palette, line);
  &__content{
    display: flex;
  }
  &__contacts{
    flex-grow: .2;
    padding: 1rem 0;
    margin: 0 1rem 0 0;
    max-width: 215px;
    list-style: none;
    border-bottom: 1px solid map_get($palette, line);
    &-elem{
      margin: .25rem 0;
    }
    &-link{
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .8rem;
      color: map_get($palette, accent-main);
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
        text-decoration: none;
      }
    }
  }
  &__menu{
    flex-grow: .6;
    padding: 1rem 0;
    margin: 0;
    list-style: none;
    &-elem{
      margin: .25rem 0;
    }
    &-link{
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .8rem;
      color: map_get($palette, accent-main);
      text-transform: uppercase;
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
        text-decoration: none;
      }
    }
  }
  &__subscribe{
    flex-grow: .2;
    margin: 2rem 0 0 0;
    &-desc{
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .8rem;
      color: map_get($palette, accent-main);
    }
    &-form{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &-input{
      flex-grow: 1;
      padding: 1rem;
      font-family: "TT Norms";
      font-weight: 400;
      font-size: .9rem;
      color: map_get($palette, accent-main);
      border: 1px solid map_get($palette, line);
    }
    &-btn{
      padding: 1rem 2rem;
      margin: 0 0 0 1rem;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, content-light);
      background: map_get($palette, bg_dark);
      border: 1px solid map_get($palette, content);
      text-transform: uppercase;
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
      }
    }
  }
  &__socials{
    margin: 1rem 0;
    &-link{
      margin: 0 1rem 0 0;
    }
    &-icon{
      width: 20px;
      height: 15px;
      fill: map_get($palette, icon-light);
    }
  }
  &__refs{
    margin: 3rem 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-link{
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .8rem;
      color: map_get($palette, accent-main);
      &:hover{
        color: map_get($palette, content);
        text-decoration: none;
        transition: $transition;
      }
    }
  }
}