// default mixins

@mixin placeholder($font-color) {
  &::-webkit-input-placeholder {
    color: $font-color;
  }
  &:-ms-input-placeholder {
    color: $font-color;
  }
  &::-moz-placeholder {
    color: $font-color;
  }
  &:-moz-placeholder {
    color: $font-color;
  }
  &:-ms-input-placeholder {
    color: $font-color;
  }
}

@mixin pseudo-element($content) {
  content: $content;
  position: absolute;
  display: block;
}

@mixin mq($width, $type: max) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
    @if $type == max {
      $width: $width;
    }
    @media (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin control {
  @include placeholder(#{map-get($palette, placeholder)});
  padding: $size * 2 $size * 3;
  font-size: 16px;
  color: #{map-get($palette, content)};
  line-height: 24px;
  background-color: map_get($palette, transparent);
  transition: $transition;
  &:hover {
    border-color: #{map-get($palette, transparent)};
  }
  &:focus,
  &:active {
    border-color: #{map-get($palette, transparent)};
  }
  &:hover,
  &:focus {
    background-color: #{map_get($palette, transparent)};
  }
  &[disabled] {
    @include placeholder(#{map-get($palette, placeholder)});
    background: #EAEFFC;
    border-color: #{map-get($palette, border-disabled)};
    cursor: default;
  }
  &.filled {
    border-color: #{map-get($palette, border-hover)};
  }
}