*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
  flex-grow: 1;
  border-top: 1px solid map_get($palette, line);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  width: $default-wrapper-width;
}

.grid {
  padding-left: 15px;
  padding-right: 15px;
}

// inputs

input,
select,
button,
textarea {
  appearance: none;
  background: none;
  outline: none;
  &:hover,
  &:focus,
  &:active {
    outline: none;
    background: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.clearfix{
  clear: both;
}

.slick-slide{
  outline: none;
}
