@mixin font-size($font-size, $breakpoint) {
  font-size: #{map_get($font-size, $breakpoint)};
}

html, body {
  font-family: #{map-get($font, body)} !important;
  line-height: 1.5;
  font-size: 16px;
  // generate font size for body
  @each $breakpoint, $width in $grid-breakpoints {
    @media (max-width: $width) {
      @include font-size($font-size, $breakpoint)
    }
  }
}
