//size

$size: 8px;

// transition

$transition: .3s ease;

// colors

$palette: (
        bg: #fff,
        bg_dark: #000,

        content: #000,
        content-light: #fff,
        line: #e1e1e1,

        accent-main: #807F7D,

        accent-second: #fff,

        menu-bg: #e3e5e6,

        icon: #000,
        icon-light: #807F7D,

        btn-gray: rgba(255, 255, 255, 0.64),
        btn-light: #F0F0F0,

        placeholder: #c1c3c4,
        placeholder-active: #6a6a6a,

        border: #8d8d8d,
        red: #CA1717,
        green: #ACA97B,
        white: #fff,

transparent: transparent,

);

$checkbox-colors: (
        orange: orange,
        green: green,
        gray: gray,
        yellow: darken(yellow, 10%),
        pink: pink,
        blue: blue,
);

// breakpoints

$grid-breakpoints: (
        lg: 1200px - 1,
        md: 992px - 1,
        sm: 768px - 1,
        xs: 576px - 1
) !default;

// wrapper max widths start

$default-wrapper-width: 1250px;

$wrapper-max-widths: (
        lg: 960px,
        md: 720px,
        sm: 540px,
        xs: 100%
) !default;

// font-sizes

$font-size: (
        lg: 16px,
        md: 15px,
        sm: 14px,
        xs: 14px
);

// fonts

$font: (
  // families
        heading: ('Roboto', 'Arial', sans-serif),
        heading-second: ('Roboto', 'Arial', sans-serif),
        body: ('Roboto', sans-serif),

  // weights
        light-weight: 300,
        normal-weight: normal,
        semi-bold-weight: 600,
        bold-weight: bold,
        extra-bold-weight: 800
);

// z-index

$z-index: (
        'modal',
        'navigation',
        'pseudo',
        'pseudo-back'
);

@function z($name) {
  @if index($z-index, $name) {
    @return (length($z-index) - index($z-index, $name)) + 1;
  } @else {
    @return null;
  }
}