.item{
  padding: 0 3.5rem;
  &__slider{
    max-height: 700px;
    &-img{
      width: 100%;
      height: 100%;
    }
  }
  &__form{
    &-heading{
      margin: 0;
      font-family: "TT Norms";
      font-weight: bold;
      font-size: 1.3rem;
      text-transform: uppercase;
      color: map_get($palette, content);
      letter-spacing: 1px;
    }
    &-price{
      margin: -.25rem 0 0 0;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: 1.1rem;
      text-transform: uppercase;
      color: map_get($palette, content);
    }
    &-name{
      margin: 0 0 1rem 0;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, accent-main);
    }
    &-colors{
      display: flex;
    }
    &-cart{
      padding: 1rem;
      margin: 1rem 0;
      display: block;
      width: 100%;
      background: map_get($palette, content);
      font-family: "TT Norms";
      font-weight: 500;
      font-size: 1rem;
      color: map_get($palette, content-light);
      text-transform: uppercase;
      text-align: center;
      border: none;
      appearance: none;
      cursor: pointer;
      &:hover{
        background: map_get($palette, btn-light);
        color: map_get($palette, accent-main);
        text-decoration: none;
        transition: $transition;
      }
      &:focus{
        background: map_get($palette, content);
        color: map_get($palette, content-light);
      }
    }
    &-favorite{
      padding: 1rem;
      margin: 1.5rem 0;
      display: block;
      width: 100%;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: 1rem;
      background: map_get($palette, btn-light);
      color: map_get($palette, accent-main);
      text-transform: uppercase;
      text-align: center;
      &:hover{
        color: map_get($palette, content);
        text-decoration: none;
        transition: $transition;
        .item__form-icon{
          stroke: map_get($palette, content);
        }
      }
    }
    &-icon{
      margin: -5px .5rem 0 0;
      width: 20px;
      height: 20px;
      stroke: map_get($palette, accent-main);
    }
    &-link{
      margin: .5rem 0;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, accent-main);
      text-decoration: underline;
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
      }
    }
  }
  &__tabs{
    padding: 2rem 0;
    border-top: 1px inset map_get($palette, line);
    &-content{
      margin: .5rem 0;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, accent-main);
    }
    &-list{
      padding: 0;
      margin: 0;
      list-style: none;
      &-elem{
        margin: 0 0 0 1rem;
        position: relative;
        font-family: "TT Norms";
        font-weight: 500;
        font-size: .9rem;
        color: map_get($palette, accent-main);
        &:before{
          @include pseudo-element('');
          top: calc(50% - 2px);
          left: -1rem;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: map_get($palette, accent-main);
        }
      }
    }
    .nav-tabs{
      border-bottom: none;
      justify-content: space-between;
    }
    .nav-tabs .nav-item{
    }
    .nav-tabs .nav-link{
      padding: 0;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, accent-main);
      text-transform: uppercase;
      border: none;
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
      }
      &.active{
        color: map_get($palette, content);
      }
    }
  }
  &__select{
  }
  &__desc{
    max-height: 700px;
  }
  &__wrapper{
    margin: 0 .5rem;
    height: 100%;
    border-bottom: 1px solid map_get($palette, line);
  }
}

.lSSlideOuter.vertical{
  padding-right: 0!important;
  padding-left: 136px;
}

.lSSlideOuter.vertical .lSGallery{
  left: 0;
  right: unset;
  margin-left: 0!important;
  margin-right: 1rem;
}

.lSSlideOuter .lSPager.lSGallery li{
  border: 1px solid transparent;
}

.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover{
  border-radius: 0!important;
  border: 1px solid map_get($palette, content);
  transition: $transition;
}

.flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &--right{
    justify-content: flex-end;
  }
}

.color-radio{
  margin: 0 1rem 0 0;
  width: 60px;
  display: flex;
  align-items: center;
  &__text{
    font-family: "TT Norms";
    font-weight: 500;
    font-size: .9rem;
    color: map_get($palette, accent-main);
  }
  &--gray{
    &.radio label::after{
      background: map_get($palette, accent-main);
    }
    &.radio input[type="radio"]:checked + label::after{
      background: map_get($palette, accent-main);
    }
  }
  &--green{
    &.radio label::after{
      background: map_get($palette, green);
    }
    &.radio input[type="radio"]:checked + label::after{
      background: map_get($palette, green);
    }
  }
  &--white{
    &.radio label::after{
      background: map_get($palette, white);
    }
    &.radio input[type="radio"]:checked + label::after{
      background: map_get($palette, white);
    }
    &.radio label::after{
      border: 1px solid map_get($palette, accent-main);
    }
  }
}

