@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700&subset=cyrillic');
@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-MediumItalic.eot');
    src: url('TTNorms/TTNorms-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-MediumItalic.woff') format('woff'),
    url('TTNorms/TTNorms-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-ExtraBoldItalic.eot');
    src: url('TTNorms/TTNorms-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-ExtraBoldItalic.woff') format('woff'),
    url('TTNorms/TTNorms-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-HeavyItalic.eot');
    src: url('TTNorms/TTNorms-HeavyItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-HeavyItalic.woff') format('woff'),
    url('TTNorms/TTNorms-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-BlackItalic.eot');
    src: url('TTNorms/TTNorms-BlackItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-BlackItalic.woff') format('woff'),
    url('TTNorms/TTNorms-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-ThinItalic.eot');
    src: url('TTNorms/TTNorms-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-ThinItalic.woff') format('woff'),
    url('TTNorms/TTNorms-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-BoldItalic.eot');
    src: url('TTNorms/TTNorms-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-BoldItalic.woff') format('woff'),
    url('TTNorms/TTNorms-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Black.eot');
    src: url('TTNorms/TTNorms-Black.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Black.woff') format('woff'),
    url('TTNorms/TTNorms-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Heavy.eot');
    src: url('TTNorms/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Heavy.woff') format('woff'),
    url('TTNorms/TTNorms-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-ExtraBold.eot');
    src: url('TTNorms/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-ExtraBold.woff') format('woff'),
    url('TTNorms/TTNorms-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Italic.eot');
    src: url('TTNorms/TTNorms-Italic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Italic.woff') format('woff'),
    url('TTNorms/TTNorms-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Thin.eot');
    src: url('TTNorms/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Thin.woff') format('woff'),
    url('TTNorms/TTNorms-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Medium.eot');
    src: url('TTNorms/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Medium.woff') format('woff'),
    url('TTNorms/TTNorms-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Light.eot');
    src: url('TTNorms/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Light.woff') format('woff'),
    url('TTNorms/TTNorms-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Bold.eot');
    src: url('TTNorms/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Bold.woff') format('woff'),
    url('TTNorms/TTNorms-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-ExtraLightItalic.eot');
    src: url('TTNorms/TTNorms-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-ExtraLightItalic.woff') format('woff'),
    url('TTNorms/TTNorms-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-LightItalic.eot');
    src: url('TTNorms/TTNorms-LightItalic.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-LightItalic.woff') format('woff'),
    url('TTNorms/TTNorms-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-Regular.eot');
    src: url('TTNorms/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-Regular.woff') format('woff'),
    url('TTNorms/TTNorms-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('TTNorms/TTNorms-ExtraLight.eot');
    src: url('TTNorms/TTNorms-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('TTNorms/TTNorms-ExtraLight.woff') format('woff'),
    url('TTNorms/TTNorms-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}