.main-slider{
  &__content{
    min-height: 600px;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    &-header{
      margin: 0 0 1.5rem 0;
      font-family: "TT Norms";
      font-weight: bold;
      font-size: 2.5rem;
      color: map_get($palette, content-light);
      text-transform: uppercase;
      letter-spacing: .3rem;
    }
    &-desc{
      margin: 0 0 3rem 0;
      font-family: "TT Norms";
      font-weight: 400;
      font-size: .9rem;
      color: map_get($palette, content-light);
      text-transform: uppercase;
    }
    &-link{
      padding: 1rem 5.5rem;
      background: map_get($palette, btn-gray);
      font-family: "TT Norms";
      font-weight: 500;
      font-size: 1rem;
      color: map_get($palette, content);
      text-transform: uppercase;
      &:hover{
        background: map_get($palette, content-light);
        color: map_get($palette, content);
        text-decoration: none;
        transition: $transition;
      }
    }
  }
  &__arrow{
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    fill: map_get($palette, content-light);
    cursor: pointer;
    z-index: z(navigation);
    &--left{
      left: 2rem;
    }
    &--right{
      right: 2rem;
      transform: rotate(180deg);
    }
  }
}