.new-items{
  padding: 4rem 3rem 0 3rem;
  &__heading{
    margin: 1rem 0;
    text-align: center;
    font-family: "TT Norms";
    font-weight: bold;
    color: map_get($palette, content);
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  &__slider{
    padding: 2rem .5rem;
    &-arrow{
      width: 25px;
      height: 25px;
      position: absolute;
      top: calc(50% - 12.5px);
      fill: map_get($palette, content);
      cursor: pointer;
      z-index: z(navigation);
      &--left{
        left: -2rem;
      }
      &--right{
        right: -2rem;
        transform: rotate(180deg);
      }
    }
    &-elem{
      margin: 0 .5rem;
      max-width: 220px;
      &:hover{
        text-decoration: none;
        .new-items__slider-desc{
          color: map_get($palette, content);
          transition: $transition;
        }
      }
    }
    &-img{
      width: 100%;
    }
    &-desc{
      margin: .5rem 0;
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .8rem;
      color: map_get($palette, accent-main);
      &--uppercase{
        text-transform: uppercase;
      }
    }
  }
}