.main-nav{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__menu{
    margin: 0;
    display: flex;
    align-items: center;
    &:first-child{
      padding: 0 0 0 3rem;
      justify-content: flex-start;
    }
    &--right{
      padding: 0 3rem 0;
      justify-content: flex-end;
    }
    &-elem{
      display: flex;
      align-items: center;
      position: relative;
      margin: 0 .6rem;
      height: 80px;
      list-style: none;
      &:hover{
        .main-nav__dropdown{
          display: flex;
        }
      }
    }
    &-link{
      color: map_get($palette, accent-main);
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      text-transform: uppercase;
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
        text-decoration: none;
      }
      &--flex{
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
    &-icon{
      margin-top: -5px;
      width: 15px;
      height: 15px;
      fill: map_get($palette, icon-light);
      &--no-margin{
        margin-top: -2px;
      }
    }
    &-count{
      margin: 0 0 0 .5rem;
      font-size: .9rem;
    }
  }
  &__logo{
    text-align: center;
    &-icon{
      width: 120px;
      height: 30px;
      fill: map_get($palette, icon);
    }
  }
  &__dropdown{
    width: calc(100vw - 15px);
    min-height: 400px;
    position: absolute;
    left: calc(-4.5rem - 1px);
    top: 100%;
    display: none;
    justify-content: space-between;
    padding: 1rem 4.5rem;
    background: map_get($palette, bg);
    border-top: 1px solid map_get($palette, line);
    z-index: z(modal);
    &-left{
      display: flex;
    }
    &-right{
      display: flex;
    }
    &-list{
      padding: 0;
      margin: 0 6rem 0 0;
      list-style: none;
    }
    &-elem{
      margin: .5rem 0;
    }
    &-link{
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, accent-main);
      text-transform: uppercase;
      cursor: pointer;
      &:hover{
        color: map_get($palette, content);
        transition: $transition;
        text-decoration: none;
      }
    }
    &-advertise{
      max-width: 210px;
      margin: 0 0 0 2rem;
    }
    &-img{
      width: 100%;
      margin-bottom: 1rem;
    }
    &-desc{
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      color: map_get($palette, accent-main);
      text-transform: uppercase;
      &:hover{
        color: map_get($palette, red);
        text-decoration: none;
      }
    }
  }
}