.header{
  &__discount{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: map_get($palette, bg_dark);
    &-desc{
      margin: 0;
      color: map_get($palette, content-light);
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
    }
    &-link{
      color: map_get($palette, content-light);
      font-family: "TT Norms";
      font-weight: 500;
      font-size: .9rem;
      &:hover{
        color: map_get($palette, content-light);
        text-decoration: underline;
        transition: $transition;
      }
    }
  }
}
