.breadcrumbs{
  padding: 2rem 4rem;
  &__item{
    margin: 0 .5rem;
    position: relative;
    color: map_get($palette, accent-main);
    font-family: "TT Norms";
    font-weight: 500;
    font-size: .9rem;
    text-transform: uppercase;
    &:hover{
      text-decoration: none;
      color: map_get($palette, content);
      transition: $transition;
    }
    &:after{
      @include pseudo-element('/');
      top: -3px;
      right: -10px;
      font-size: .9rem;
    }
    &:last-child{
      &:after{
        content: none;
      }
    }
  }
}