.main-category{
  padding: 5rem 3rem 0 3rem;
  &__slider{
    width: 100%;
    &-elem{
      margin: 0 1rem;
      height: 100%;
    }
    &-bg{
      width: 100%;
      height: 100%;
      min-height: 590px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      &--first{
        background: url('images/man.jpg') no-repeat;
        background-size: cover;
      }
      &--second{
        background: url('images/man2.jpg') no-repeat;
        background-size: cover;
      }
    }
    &-heading{
      margin: 0 0 3.5rem 0;
      font-family: "TT Norms";
      font-weight: bold;
      font-size: 2.5rem;
      color: map_get($palette, content-light);
      text-transform: uppercase;
      letter-spacing: .3rem;
    }
  }
  &__arrow{
    width: 25px;
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px);
    fill: map_get($palette, content);
    cursor: pointer;
    z-index: z(navigation);
    &--left{
      left: -2rem;
    }
    &--right{
      right: -2rem;
      transform: rotate(180deg);
    }
  }
}