.radio {
  label {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    padding: $size * .5 0 $size * 12;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    &::before {
      @include pseudo-element('');
      top: $size;
      left: 0;
      width: $size * 3 + $size / 2;
      height: $size * 3 + $size / 2;
      //background: #fff;
      //border: 1px solid #{map-get($palette, accent-main)};
      border-radius: 50%;
      transition: $transition;
    }
    &::after {
      @include pseudo-element('');
      display: block;
      position: absolute;
      top: $size * 1.5;
      left: $size/2;
      width: $size * 2 + $size / 2;
      height: $size * 2 + $size / 2;
      background: #fff;
      border-radius: 50%;
      transition: $transition;
    }
    &:hover {
      &::before {
        border: 1px solid #{map-get($palette, content)};
      }
    }
    ~ label {
      margin-left: $size * 4;
    }
  }
  input[type="radio"]:checked + label {
    &::before {
      border: 1px solid #{map-get($palette, content)};
    }
    &::after {
      background: #{map-get($palette, accent-main)};
    }
  }
  input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    border: none;
    left: -100%;
    z-index: -100;
    opacity: 0;
    &[disabled] {
      + label {
        color: #{map-get($palette, content-light)};
        pointer-events: none;
        &::before {
          background: #EAEFFC;
        }
        &::after {
          display: none;
        }
      }
      &[checked] {
        + label {
          &::before {
            border-color: #{map-get($palette, border)};
          }
          &::after {
            display: block;
            //background: #{map-get($palette, button-hover)};
          }
        }
      }
    }
  }
  &--horizontal {
    .radio {
      display: inline-block;
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

select {
  @include control();
  height: 56px;
}

.select2-dropdown {
  border: 1px solid map_get($palette, accent-main);
  border-radius: 0px;
  overflow: hidden;
  .select2-results__option {
    padding: $size * 2 $size * 3 $size * 2 $size * 3;
    margin-bottom: 0;
    line-height: 24px;
    font-size: .9rem;
    border-bottom: 1px solid map_get($palette, line);
    &.select2-results__option--highlighted {
      color: inherit;
      background: #EAEFFC;
    }
    &[aria-selected=true] {
      color: #{map-get($palette, placeholder)};
      background: none;
    }
    &::before {
      display: none;
    }
  }
  .select2-search.select2-search--dropdown {
    .select2-search__field {
      padding-left: 11px;
    }
  }
  [aria-multiselectable="true"] {
    .select2-results__option {
      padding-left: $size * 2 + 11;
      &[aria-selected="true"] {
        position: relative;
        color: inherit;
        background: none;
        &::before {
          position: absolute;
          display: block;
          top: $size;
          left: $size;
          width: auto;
          height: auto;
          color: #{map-get($palette, accent-main)};
          background: none;
        }
        &.select2-results__option--highlighted {
          color: inherit;
          background: #EAEFFC;
        }
      }
    }
  }

  .select2-results__options::-webkit-scrollbar-track {
    background: none;
  }

  .select2-results__options::-webkit-scrollbar {
    width: $size;
    background: none;
  }

  .select2-results__options::-webkit-scrollbar-thumb {
    width: $size;
    border-radius: 40px;
    background-color: #{map-get($palette, line)};
  }

}

.select2-container--default.select2 {
  .select2-selection {
    @include control();
    height: 56px;
    &.select2-selection--multiple {
      height: auto;
      line-height: 10px;
      padding-top: 0;
      padding-bottom: 0;
      &::before {
        position: absolute;
        bottom: $size - 1;
        right: $size;
        font-family: 'Icons';
        font-size: 8px;
        color: #{map-get($palette, border)};
        transition: $transition;
        transform: rotate(-45deg);
      }
      .select2-search__field {
        height: 38px;
      }
      .select2-selection__rendered {
        padding: 0;
        overflow: visible;
        font-family: "TT Norms";
        font-weight: 500;
        font-size: .9rem;
        li {
          position: relative;
          max-width: 100%;
          margin-bottom: 0;
          line-height: 24px;
          border: none;
          overflow: hidden;
          &::before {
            display: none;
          }
          &.select2-selection__choice {
            padding-right: 32px;
            padding-left: 8px;
            margin-left: -$size;
            margin-top: 7px;
            margin-right: $size * 2;
            background: #EAEFFC;
            color: #{map_get($palette, link)};
            &:hover {
              background: darken(#EAEFFC, 10);
              .select2-selection__choice__remove {
                background: darken(#EAEFFC, 10);
              }
            }
          }
        }
        .select2-selection__choice__remove {
          position: absolute;
          top: 1px;
          right: 0;
          width: 32px;
          margin: 0;
          font-size: 0;
          font-family: 'Icons';
          text-align: center;
          color: #EAEFFC;
          background: #EAEFFC;
          &::before {
            color: #{map-get($palette, content)};
            font-size: 8px;
          }
        }
      }
      .select2-search__field {
        margin-top: 0;
      }
    }
  }
  &.select2-container--default .select2-selection--single {
    border-color: map_get($palette, border);
    background: map_get($palette, bg);
    font-size: .9rem;
    border-radius: 0px;
  }
  &.select2-container--default.select2-container--open {
    .select2-selection {
      border-radius: 0px;
      border-color: #{map-get($palette, border-focus)};
    }
    .select2-selection__arrow b,
    .select2-selection--multiple::before {
      transform: rotate(180deg);
      color: #{map-get($palette, border-focus)};
    }
  }
  &:active,
  &:focus {
    outline: none;
  }
  .select2-selection__rendered {
    padding: 0 $size * 2 0 0;
    line-height: 22px;
    .select2-selection__placeholder {
      color: #{map-get($palette, placeholder)};
    }
    .select2-selection__clear {
      display: none;
    }
  }
  .select2-selection__arrow {
    top: calc(50% - 8px);
    right: 24px;
    width: 10px;
    height: 1px;
    b {
      width: 10px;
      height: 10px;
      left: 0;
      margin-top: 2px;
      margin-left: 0;
      background: url("images/arrow.jpg") no-repeat;
      background-size: contain;
      background-position: center;
      font-size: 8px;
      color: #{map-get($palette, border)};
      border: none;
      transition: $transition;
    }
  }
  &:hover {
    .select2-selection__arrow b,
    .select2-selection--multiple::before {
      color: #{map-get($palette, border-hover)};
    }
  }
  .select2-selection__clear {
    position: relative;
    top: 1px;
    width: 10px;
    font-family: 'Icons';
    font-size: 0;
    color: #fff;
    &::before {
      font-size: 8px;
      color: #{map-get($palette, content)};
    }
  }
  .select2-selection--single {
    &:focus {
      outline: none;
    }
  }
  &.select2-container--disabled {
    .select2-selection {
      @include placeholder(#{map-get($palette, placeholder)});
      background: #EAEFFC;
      border-color: #{map-get($palette, border-disabled)};
      cursor: default;
    }
  }
}
